{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "src/scss/_settings.scss"
  ],
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "indentation": null,
    "max-empty-lines": 2,
    "no-browser-hacks",
    "property-no-vendor-prefix": true,
    "rule-nested-empty-line-before":  [ "always-multi-line", {
      except: ["first-nested"],
      ignore: ["after-comment"]
    } ],
    "plugin/selector-bem-pattern": {
      "preset": "bem"
    },
    "string-quotes": "single"
  }
}
