{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "indentation": "spaces",
    "max-empty-lines": 2,
    "property-no-vendor-prefix": true,
    "rule-nested-empty-line-before":  [ "always-multi-line", {
      except: ["first-nested"],
      ignore: ["after-comment"]
    } ],
    "selector-bem-pattern": {
      "preset": "bem"
    }
  }
}
