PORT=8000
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost,{{ cookiecutter.domain_name }}

{% if cookiecutter.use_postgres == 'y' -%}
DATABASE_URL=postgres://pguser:pgpass@db/{{ cookiecutter.package_name }}
{%- endif %}
