PORT=8000
DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost,{{ cookiecutter.domain_name }}

SSLIFY_DISABLE=True

{% if cookiecutter.use_postgres == 'y' -%}
# To create the database locally: createdb {{ cookiecutter.package_name }}
DATABASE_URL=postgres://localhost/{{ cookiecutter.package_name }}
{%- endif %}
