PORT=8000
DEBUG=True

SECRET_KEY='secret'

ALLOWED_HOSTS=*

SECURE_SSL_REDIRECT=False

{% if cookiecutter.use_postgres == 'y' -%}
# To create the database locally: createdb {{ cookiecutter.package_name }}
DATABASE_URL=postgres://localhost/{{ cookiecutter.package_name }}
{%- endif %}
