[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "<4.1,>=4.0"
boto3 = "< 1.21, >= 1.20.26"
dj-database-url = "==0.5.0"
django-debug-toolbar = "<3.3,>=3.2.4"
django-redis = "<5.3,>=5.2.0"
django-rq = "<2.6,>=2.5.1"
django-storages = "<2.0,>=1.12.3"
psycopg2-binary = "==2.8.6"
python-decouple = "==3.3"
pytz = "==2020.1"
redis = "<4.2,>=4.1.0"
rq = "<2.0>=1.10.1"
waitress = "<2.1,>=2.0.0"
whitenoise = "<5.4,>=5.3.0"
pillow = "==9.0.0"
